#main {
	font-size: 50pt;
	color: #347ab4;
	margin-top: 50px;
	font-family: 'Petrona', serif;
}

body {
	background: #e3e3e3;
}

#bio {
	margin-left: 150px;
	margin-right: 150px;
	font-size: 25pt;
	margin-top: -50px;
}

a img:hover {
  opacity: 0.7;
}

#welcome {
	font-family: 'Gloria Hallelujah', cursive;
}

#pic4 {
	margin-bottom: 70px;
}

#pic2 {
	margin-bottom: 70px;
}

img#pic5 {
	margin-bottom: 70px;
}
