---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---
<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <p>Hi! My name, as you probably know by this point, is Jake Cupani. I recently graduated from the <a href="https://www.umd.edu/">University of Maryland</a> with my masters in <a href="https://ischool.umd.edu/academics/masters-programs/master-of-information-management/">Information Management and Data Analytics</a>.</p>
    <p>I also received my bachelor's degree from UMD in <a href="https://ischool.umd.edu/academics/bachelors-programs/bachelor-of-science-in-information-science-college-park/">Information Science</a> with a specialization in Data Science and a minor in Astronomy.</p>
    <p>My passion is in creating interactive web applications, data visualizations, and dashboards.</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
