---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Jake Cupani";
const description = "Jake Cupani's personal website.";
const permalink = Astro.site.href;


---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <h1>Hi, my name is Jake Cupani! <span class="emoji">😊</span></h1>
      <p>I'm passionate about <span class="emp-text">UI/UX Design</span> and creating <span class="emp-text">Data Visualizations</span>.
      </p>
      <button class="button"
        ><a target='_blank' href="Jake Cupani Resume.pdf">Resume 📄</a>
      </button>

      <button id="portfolioBtn" class="button"
        ><a target='_blank' href="https://dub.sh/JakeCupaniUX">UX Portfolio 🎨</a>
      </button>
      
      <div class="socials">
       
        <a target='_blank' href="https://git.new/jakecupani"><img id="github" src="/assets/socials/github.png" alt="Github Logo" height="50px" width="50px"></a>
        <a target='_blank' href="https://dub.sh/JakeCupaniLI"><img id="linkedin" src="/assets/socials/linkedin.webp" alt="LinkedIn Logo" height="50px" width="50px"></a>
        <a target='_blank' href="https://dub.sh/Y2PV5vO"><img id="appstore" src="/assets/socials/appstore.png" alt="App Store Logo" height="50px" width="50px"></a>

        <!-- <a target="_blank" href="https://jakesdevlog.substack.com/"><img id="substack" src="/assets/socials/substack.png" alt="Jake's Dev Log Substack" height="50px" width="50px"></a> -->
        <!-- <a target='_blank' href="https://apps.apple.com/us/developer/jake-cupani/id1730791358"><img id="appstore" src="/assets/socials/appstore.png" alt="Apple App Store Logo" height="50px" width="50px"></a>  -->
        <!-- <a target='_blank' href="https://dev.to/jakecupani"><img id="dev" src="/assets/socials/dev.png" alt="Dev Logo" height="40px" width="60px"></a> -->
        <!-- <a target='_blank' href="https://medium.com/@jcupani"><img id="medium" src="/assets/socials/medium-logo.png" alt="Medium Logo" height="150px" width="200px"></a> -->
        <a target='_blank' class="kofiBtnLight" href="https://dub.sh/SYe1qWe"><img id="kofi" width="175px" src="https://storage.ko-fi.com/cdn/brandasset/kofi_bg_tag_white.png?_gl=1*1dx7yya*_ga*MTQyNzYwMjMxLjE2OTQ5Nzk5NDA.*_ga_M13FZ7VQ2C*MTcxNDY5NDUzMC4zNi4xLjE3MTQ2OTQ1NDIuNDguMC4w" alt="Support Me"></a>        
      </div>


  <div class="social-labels">
          <p id="githublabel" class="social-label">GitHub</p>
          <p id="linkedinlabel" class="social-label">LinkedIn</p>
          <p id="appstorelabel" class="social-label">Check out my iOS apps!</p>
          <p id="kofilabel" class="social-label">Tips are greatly appreciated!</p>
      </div>
      
    </div>

    <div class="hero-image-container">
      <picture>
        <source srcset="/assets/profile.jpeg" media="(min-width: 600px)" />
        <img
          class="hero-image"
          alt="Profile picture of Jake Cupani (Taken by Tyler Walker)"
          src="/assets/profile.jpeg"
          width="200"
          height="200"
        />
      </picture>
    </div>
  </div>


</BaseLayout>

  
<style>
.social-labels {
  display: flex;
  color: currentcolor;
}

#kofilabel {
  margin-left: -70px;
}

.social-labels p {
    color: white;
    background-color: #5f7fff;
    padding: 5px;
    border-radius: 5px;
    margin-right: 35px;
}

#kofi {
  margin-bottom: -9px;
}

img#appstore {
  /* border: 1pt solid #e5e5e5; */
  /* border-radius: 10px; */
}

#githublabel, #linkedinlabel, #appstorelabel, #kofilabel {
  font-size: 10px!important;
  opacity: 0;
  transition: 0.2s;
}


@media only screen and (max-width: 800px) {
  .social-labels p {
    
  }
}

  .home-copy button {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  #substack {
    border-radius: 10px;
  }

  #portfolioBtn {
    background-image: linear-gradient(135deg, #6661ff 0%, #da5cca 100%);;
  }

  .home-copy button:hover {
    /* filter: drop-shadow(1px 2px 2px grey); */
    transition: 0.1s;
  }

  .socials img {
    margin-right: 30px;
    margin-top: 35px;
    transition: 0.5s;
  }

/*
  .socials img:nth-child(n+2):hover {
    transform: rotate(5deg);
    transition: 0.5s;
  }
  .socials img:nth-last-child(-n+2):hover {
    transform: rotate(5deg);
    transition: 0.5s;
  }
*/

  img#threads {
    background-color: white;
    width: 80px;
    padding: 5px;
    border-radius: 10px;
  }

  /* .socials img:hover {
    margin-bottom: -2px;
    transition: 0.2s;
} */

  #medium {
    border-radius: 20px;
  }

  .socials img:hover {
    /* border-bottom: 1px #fffa dashed; */
    /* border-bottom: 1pt solid blue; */
    transition: 0.5s;
  }

  #linkedin {
    border-radius: 10px;
  }

  #github {
    background-color: white;
    /* padding: 1px; */
    border-radius: 10px;
  }

  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    padding-bottom: 150px;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;

    transition: 0.5s;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
