---
import ThemeToggleButton from './ThemeToggleButton.svelte';
const { current = '' } = Astro.props;
---
<footer>
  <span>
    &copy; {new Date().getFullYear()} Jake Cupani.  | 
    Powered by <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>.
    | <a href="https://www.twitter.com/Charca" target="_blank" rel="noopener">Created with Astro Blog Template</a>.
  </span>
  <div class="toggle-container">
    <div>
      <!-- <a class="footer-link" href="https://twitter.com/jakecupani" target="_blank">Twitter</a> -->
      <a class="footer-link" href="https://github.com/jakecupani" target="_blank">GitHub</a> | <a class="footer-link" href="https://linkedin.com/in/jakecupani" target="_blank">LinkedIn</a> |  <a target='_blank' class="footer-link" href="https://ko-fi.com/jakecupani">Support Me</a>        
   

     </div>
    <ThemeToggleButton client:load />
    <!-- <p id='disclaimer'>All opinions and views expressed across platforms are entirely my own.</p> -->
  </div>
  
</footer>

<style>

#disclaimer {
  font-size: 0.2em;
  }


  footer {
    /* color: var(--text-secondary); */
    color: var(--text-main);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 40%;
    
    background-color: var(--background-body);
    padding: 15px;
    box-shadow: #0003 0 2px 4px;
    border-radius: 20px;
  }
  /* footer a:hover {
    color: #000;
  } */

  /* .footer-link {
    padding-right: 10px;
    padding-left: 10px;
  } */
</style>
