---
import ThemeToggleButton from './ThemeToggleButton.svelte';
const { current = '' } = Astro.props;
---

<footer>
  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="jakecupani" data-description="Support me on Buy me a coffee!" data-message="Thanks a ton! Your support is greatly appreciated. <3" data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  <span>
    &copy; {new Date().getFullYear()} Jake Cupani.  | 
    Powered by <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>.
    | <a href="https://www.twitter.com/Charca" target="_blank" rel="noopener">Created with Astro Blog Template</a>.
  </span>
  <div class="toggle-container">
    <ThemeToggleButton client:load />
  </div>
  
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
