<style>
  #logo {
    text-decoration: none!important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 15px;
  }

  #logo-link {
    text-decoration: none;
  }

</style>

<a id="logo-link" href="/">
  <p id="logo">Jake Cupani</p>
</a>
