<style>
  #logo {
    text-decoration: none!important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 15px;
  }

  #logo-link {
    text-decoration: none;
    transition: 0.5s;
  }

  #logo-link:hover {
    background: white;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    opacity: 0.8;
    transition: 0.5s;
  }

</style>

<a id="logo-link" href="/">
  <p id="logo">Jake Cupani</p>
</a>
